body {
    margin: 0;
}

.header {
    width: 100%;
    height: 90px;
    border: 1px solid red;
    padding: 0 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-item {
    text-transform: capitalize; /* делает с большой буквы */
    text-decoration: none;
    color: rgb(108, 108, 108);
    font-size: 20px;
    margin-right: 38px;

}

.links-item:last-child {
    margin-right: 0;
}